@import "tailwindcss";

.geo-regular {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geo-regular-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  font-family:
    "Geo",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable the text highlight effect (for the CRT effect) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @apply bg-site-secondary text-site-primary m-0;
}

.crt-effect {
  text-shadow: 0 0 10px var(--color-site-primary);
}

.crt-effect-box {
  box-shadow: 0 0 10px var(--color-site-primary);
}

.crt-effect-disabled {
  text-shadow: none;
}

.site-box {
  @apply px-2 py-1 border-2 border-site-primary;
  box-shadow: 0 0 10px var(--color-site-primary);
  text-shadow: 0 0 10px var(--color-site-primary);
}

.header {
  @apply text-4xl border-b-2 mb-8;
}

.site-box-bright {
  @apply bg-site-primary text-site-secondary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.is-a-button {
  @apply text-site-primary hover:bg-site-accent hover:text-black transition-colors flex items-center gap-2 cursor-pointer px-2 py-1 border-2 border-site-primary;
  box-shadow: 0 0 10px var(--color-site-primary);
  text-shadow: 0 0 10px var(--color-site-primary);
}

.contains-text {
  p {
    @apply text-justify mb-2;
  }
}

a {
  @apply text-site-accent cursor-pointer;

  &:hover {
    @apply text-site-accent/80;
  }
}

@theme {
  /*--breakpoint-3xl: 120rem;*/
  --color-site-secondary: #151212;
  --color-site-primary: #ff6a00;
  --color-site-accent: rgb(239, 235, 44);
}
